# Abaikan virtual environment
.venv/
venv/
env/

# Abaikan file cache python
__pycache__/
*.pyc

# Abaikan file sistem Mac/Windows
.DS_Store

# Abaikan file secrets (PENTING untuk keamanan)
.streamlit/secrets.toml

# OPSI: Abaikan file dataset besar dan model (rekomendasi saya)
*.csv
*.pkl